body {
    font-family: Monospaced, monospace;
    background-color: darkorange;
    background-image: url("chainlink/png-seamless-chainlink-fence.png");
    font-size: x-large;
    text-align: center;
}